/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(224, 224, 224);
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-radius: 20px;
    border-style: none;
    outline: none;

  }
  
  .login-btn, .signup-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 50%; /* Set width to half screen */
      position: absolute;
      top: 60px;
      right: 0; /* Align the menu to the right side */
      background-color: #000000;
      padding: 10px 0;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%); /* Initially off-screen */
      border-radius: 20px;
    }
  
    .nav-links.open {
      display: flex;
      transform: translateX(0); /* Slide in from the right */
    }
  
    .nav-link, .login-btn, .signup-btn {
      padding: 15px 0;  /* Add padding to each item */
      margin: 5px 0;    /* Add margin between each item */
      width: 40%;
      text-align: center;
    }
  
    .search-bar {
      margin: 10px 0;
      width: 60%;  /* Make the search bar fill more of the screen */
    }
  
    .menu-toggle {
      display: block;
    }
  }
  